$primary-color: #4B49AC;
$secondary-color: #98BDFF;
$frame-background-color: #fdfdfd;
$background-color: #f4f6ff;
$gray-border: #CDCDCD;
$supporting-color-1: #7DA0FA;
$supporting-color-1: #7978E9;
$supporting-color-1: #F3797E;
$supporting-color-1: #00B870;